:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --first-text-color: #ffffff;
  --second-text-color: #757575;
  --team-buttons-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --hero-color: #2f303a;
  --main-btn-color: #188ce8;
  --section-pt: 94px;
  --section-pb: 94px;
  --net-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link.current {
  color: var(--accent-color);
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--first-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}

.contact__item {
  align-items: baseline;
  justify-content: baseline;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  min-height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .contact {
    display: none;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu__button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
  }
  .mobile-menu__button:hover {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--first-text-color);
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  .mobile-menu__item:not(:first-child) {
    margin-top: 32px;
  }
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .mobile-menu__btn:hover {
    fill: var(--accent-color);
  }
  .mobile-contacts__phone {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts__mail {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
  .mobile-menu-nets {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 64px;
  }
  .mobile-menu-nets__item:not(:last-child):after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobile-menu-nets__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .is-open {
    transform: translateY(0);
  }
  .carrent {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header .container {
    justify-content: space-between;
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__icon {
    margin-right: 8px;
  }
  .contact__item:first-child {
    margin-bottom: 10px;
  }
  .current {
    position: relative;
  }
  .current::after {
    position: absolute;
    display: block;
    content: '';
    padding-top: -32px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--accent-color);
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact__item:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
    align-items: end;
  }
  .menu {
    margin-left: 93px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo_header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_light-theme {
  color: var(--logo-color);
}

.logo_dark-theme {
  color: var(--first-text-color);
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.hero {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: var(--hero-color);
  background-repeat: no-repeat;
  background-size: cover;
}

/*
@media screen and (min-width: 480px) {*/
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
  font-family: var(--main-font);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.hero {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header-phone.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../images/mobile/header-phone@2x.jpg);
  }
}

/*}*/
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/header-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    margin: 0 auto;
    line-height: 60px;
    max-width: 696px;
    margin-bottom: 30px;
  }
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/header-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header-desktop@2x.jpg);
  }
}

.main-btn {
  display: block;
  font-family: var(--main-font);
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  align-items: center;
  color: var(--first-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background: var(--main-btn-color);
  cursor: pointer;
}

.main-btn_form {
  margin: 0 auto;
  padding: 10px 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-btn_modal-window {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  padding: 10px 55px;
}

.main-btn_footer {
  margin: 0 auto;
  /*padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 13px;*/
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-window {
  position: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--first-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--first-text-color);
}

.modal-window__close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-icon:hover {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .modal-window {
    max-width: 450px;
    width: 100%;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .modal-window {
    max-width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover {
  border-color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.modal-form__label {
  text-align: start;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-form__container {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  justify-content: start;
  left: 12px;
  top: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form__textarea::placeholder {
  border-color: rgba(117, 117, 117, 0.5);
}

.modal-form__check {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-form__check::before {
  display: block;
  content: '';
  height: 16px;
  width: 16px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__checkbox-concent:checked + .modal-form__check::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-position: center;
  border-color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-form {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .modal-form__check {
    font-size: 12px;
    line-height: 1.14px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__check {
    font-size: 14px;
    line-height: 1.71px;
  }
  .modal-form {
    max-width: 528px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.advantages-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantages-list__item {
  margin-bottom: 30px;
  width: 100%;
  align-content: center;
}

.advantages-list__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--team-buttons-color);
  border: none;
  border-radius: 4px;
}

.advantages-list__info {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.advantages-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .advantages-list__title {
    text-align: left;
  }
  .advantages-list__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  .advantages-list__cont {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-info {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }
  .advantages-list {
    flex-wrap: nowrap;
  }
}

.about {
  padding-bottom: var(--section-pb);
}

.about__list {
  display: flex;
  margin-top: 50px;
  margin-left: -30px;
}

.about__item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.about__works {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.about__tumb {
  position: relative;
}

.about__tumb > .about__works {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.about-element {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  color: var(--first-text-color);
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background: var(--team-buttons-color);
  margin: 0 auto;
}

.member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member__inform {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #eeeeee;
  background-color: var(--first-text-color);
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.member__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.member__foto {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
  .member__inform {
    width: 100%;
  }
  .member__foto {
    width: 100%;
  }
  .member {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-top: 30px;
  }
  /*
  .member:last-child {
    margin-bottom: 30px;
  }*/
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .team {
    padding-bottom: var(--section-pb);
    padding-top: var(--section-pt);
  }
  .member {
    flex-basis: 270px;
  }
  .member__foto {
    width: 272px;
    height: 260px;
  }
  /*
  .team__list {
    display: flex;
    margin-left: -30px;
  }
  .member {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  */
}

.networks {
  display: flex;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks_light-theme {
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 17px;
}

.networks__icons {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link_light-theme {
  background-color: var(--first-text-color);
  fill: var(--net-color);
}

.networks__link_light-theme:hover, .networks__link_light-theme:focus {
  background-color: var(--accent-color);
  fill: var(--first-text-color);
}

.networks__link_dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--first-text-color);
}

.networks__link_dark-theme:hover, .networks__link_dark-theme:focus {
  background-color: var(--accent-color);
}

.title-clients {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-text-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  fill: var(--net-color);
  border: 1px solid var(--net-color);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients {
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);
}

.footer-form {
  text-align: center;
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address {
  margin-top: 20px;
  width: 221px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__city {
  color: var(--first-text-color);
}

.add-to-us {
  margin-bottom: 20px;
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.mailling {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.form-mailling__mail {
  width: 100%;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--footer-color);
  outline: none;
  color: var(--first-text-color);
}

.form-mailling__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-mailling__icon {
  margin-left: 10px;
}

.form-mailling__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .unit {
    text-align: center;
  }
  .address {
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 20px;
  }
  .footer-form {
    margin-top: 60px;
  }
  .form-mailling__mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .unit {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .form-mailling__mail {
    width: 450px;
  }
  .footer-icons {
    margin-left: 165px;
  }
  .address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .form-mailling {
    display: flex;
  }
  .footer-icons {
    margin-left: 70px;
  }
  .unit {
    justify-content: start;
  }
  .mailling {
    text-align: start;
  }
  .form-mailling__mail {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */