:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --first-text-color: #ffffff;
  --second-text-color: #757575;
  --team-buttons-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --hero-color: #2f303a;
  --main-btn-color: #188ce8;
  --section-pt: 94px;
  --section-pb: 94px;
  --net-color: #afb1b8;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link.current {
  color: var(--accent-color);
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--first-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border: 1px solid #ececec;
  justify-content: space-between;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  min-height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .contact {
    display: none;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu__button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
  }
  .mobile-menu__button:hover {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--first-text-color);
    transform: translateY(-100%);
  }
  .mobile-menu__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  .mobile-menu__item:not(:first-child) {
    margin-top: 32px;
  }
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .mobile-menu__btn:hover {
    fill: var(--accent-color);
  }
  .mobile-contacts__phone {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts__mail {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
  .mobile-menu-nets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
  }
  .mobile-menu-nets__item:not(:last-child):after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobile-menu-nets__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .is-open {
    transform: translateY(0);
    max-width: 480px;
  }
  .carrent {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header .container {
    justify-content: space-between;
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__icon {
    margin-right: 8px;
  }
  .contact__item:first-child {
    margin-bottom: 10px;
  }
  .current {
    position: relative;
  }
  .current::after {
    position: absolute;
    display: block;
    content: '';
    padding-top: -32px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--accent-color);
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact__item:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
    align-items: end;
  }
  .menu {
    margin-left: 93px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo_header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_light-theme {
  color: var(--logo-color);
}

.logo_dark-theme {
  color: var(--first-text-color);
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.main-btn {
  display: block;
  font-family: var(--main-font);
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  align-items: center;
  color: var(--first-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background: var(--main-btn-color);
  cursor: pointer;
}

.main-btn_form {
  padding: 10px 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-btn_modal-window {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  padding: 10px 55px;
}

.main-btn_footer {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn-list {
  display: flex;
  justify-content: left;
}

.btn-list__item {
  padding: 6px 22px;
  background: var(--team-buttons-color);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list__item:hover, .btn-list__item:focus {
  background-color: var(--accent-color);
  color: var(--first-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.btn-list__text:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .btn-list {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 30px;
  }
  .btn-list__text {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }
  .btn-list {
    margin-bottom: 50px;
  }
}

.picture {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about-element {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  color: var(--first-text-color);
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__item:hover .about-element {
  opacity: 1;
  transform: translateY(0);
}

.img-comment {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.images-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.kind {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.gallary__item:hover,
.gallary__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .gallary__item:not(:last-child) {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallary {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .gallary__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 2 - 30px);
  }
  .gallary__link {
    display: flex;
    flex-direction: column;
  }
  .img-comment {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .gallary {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .gallary__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  .gallary__item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.networks {
  display: flex;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks_light-theme {
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 17px;
}

.networks__icons {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link_light-theme {
  background-color: var(--first-text-color);
  fill: var(--net-color);
}

.networks__link_light-theme:hover, .networks__link_light-theme:focus {
  background-color: var(--accent-color);
  fill: var(--first-text-color);
}

.networks__link_dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--first-text-color);
}

.networks__link_dark-theme:hover, .networks__link_dark-theme:focus {
  background-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);
}

.footer-form {
  text-align: center;
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address {
  margin-top: 20px;
  width: 221px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__city {
  color: var(--first-text-color);
}

.add-to-us {
  margin-bottom: 20px;
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.mailling {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.form-mailling__mail {
  width: 100%;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--footer-color);
  outline: none;
  color: var(--first-text-color);
}

.form-mailling__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .unit {
    text-align: center;
  }
  .address {
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 20px;
  }
  .footer-form {
    margin-top: 60px;
  }
  .form-mailling__mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .unit {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .form-mailling__mail {
    width: 450px;
  }
  .footer-icons {
    margin-left: 165px;
  }
  .address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .form-mailling {
    display: flex;
  }
  .footer-icons {
    margin-left: 70px;
  }
  .unit {
    justify-content: start;
  }
  .mailling {
    text-align: start;
  }
  .form-mailling__mail {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=portfolio.css.map */