.about {
  padding-bottom: var(--section-pb);

  &__list {
    display: flex;
    margin-top: 50px;
    margin-left: -30px;
  }

  &__item {
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }

  &__works {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-text-color);
    background: rgba(47, 48, 58, 0.8);
  }

  &__tumb {
    position: relative;

    & > .about__works {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      margin: 0 auto;
      padding-top: 27px;
      padding-bottom: 27px;
      width: 100%;
    }
  }
}
.about-element {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  color: var(--first-text-color);
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
