.advantages-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantages-list__item {
  margin-bottom: 30px;
  width: 100%;
  align-content: center;
}

.advantages-list__cont {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--team-buttons-color);
  border: none;
  border-radius: 4px;
}

.advantages-list__info {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.advantages-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  .advantages-list__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }

  .advantages-list__cont {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-info {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }
  .advantages-list {
    flex-wrap: nowrap;
  }
}
