.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background: var(--footer-color);
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address {
  margin-top: 20px;
  width: 221px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__city {
  color: var(--first-text-color);
}

.add-to-us {
  margin-bottom: 20px;
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.mailling {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.form-mailling__mail {
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--footer-color);
  outline: none;
  color: var(--first-text-color);
}

.footer-form {
  text-align: center;
}

.form-mailling__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-cont {
    text-align: center;
  }

  .address {
    margin-right: auto;
    margin-left: auto;
  }

  .add-to-us {
    margin-top: 60px;
  }

  .form-mailling__mail {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .unit {
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }

  .footer-form {
    align-self: center;
  }

  .footer-icons {
    margin-left: 165px;
  }
  .unit {
    margin-bottom: 60px;
  }

  .form-mailling__mail {
    width: 450px;
    margin-bottom: 20px;
  }

  .form-mailling__icon {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .unit {
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }
  .form-mailling__mail {
    width: 358px;
    margin-right: 12px;
  }

  .footer .container {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
  }

  .footer-form {
    text-align: left;
  }

  .form-mailling {
    display: flex;
  }

  .footer-icons {
    margin-left: 70px;
    margin-right: 93px;
  }

  .unit {
    margin-bottom: 0;
    text-align: left;
  }
}
