.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);

  &-form {
    text-align: center;
  }
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address {
  margin-top: 20px;
  width: 221px;

  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__city {
    color: var(--first-text-color);
  }
}

.add-to-us {
  margin-bottom: 20px;
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.mailling {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.form-mailling__mail {
  width: 100%;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--footer-color);
  outline: none;
  color: var(--first-text-color);
}

.form-mailling__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-mailling__icon {
  margin-left: 10px;
}

.form-mailling__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .unit {
    text-align: center;
  }
  .address {
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .footer-form {
    margin-top: 60px;
  }

  .form-mailling__mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .unit {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .form-mailling__mail {
    width: 450px;
  }

  .footer-icons {
    margin-left: 165px;
  }
  .address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form-mailling {
    display: flex;
  }

  .footer-icons {
    margin-left: 70px;
  }

  .unit {
    justify-content: start;
  }

  .mailling {
    text-align: start;
  }

  .form-mailling__mail {
    width: 358px;
    margin-right: 12px;
  }
}
