.header {
  border: 1px solid #ececec;
  justify-content: space-between;
}

.contact__link {
  align-items: center;
}

.current {
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: '';
    padding-top: -32px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--accent-color);
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .contact {
    display: none;
    align-items: center;
  }

  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu__button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
  }

  .mobile-menu__button:hover {
    fill: var(--accent-color);
  }

  .mobile-menu__list {
    margin-bottom: 306px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px;
    max-width: 480px;
    width: 100vw;
    height: 100vh;
    background-color: var(--first-text-color);
    transform: translateY(-100%);
  }

  .mobile-menu__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }

  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .mobile-menu__btn:hover {
    fill: var(--accent-color);
  }

  .mobile-contacts__phone {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-contacts__mail {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }

  .mobile-menu-nets {
    display: flex;
    margin-top: 64px;
  }

  .mobile-menu-nets__item:not(:last-child):after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }

  .mobile-menu-nets__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .is-open {
    transform: translateY(0);
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
  }

  .mobile-menu__button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header .container {
    justify-content: space-between;
  }

  .contact__icon {
    margin-right: 8px;
  }

  .contact {
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--second-text-color);
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &__icon {
      fill: currentColor;
    }
  }

  .menu {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      display: block;
      padding-bottom: 32px;
      padding-top: 32px;
      min-height: 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--main-text-color);
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
    align-items: end;
  }

  .menu {
    margin-left: 93px;
  }
}
