@media screen and (min-width: 480px) {
  .gallary {
    justify-content: center;
  }

  .gallary-photo {
    width: 100%;
    height: 294px;
  }

  .gallary__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallary {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }

  .gallary-photo {width: 354;
  }}
  
  .gallary__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  .gallary__item:hover,
  .gallary__item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .gallary__item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

/*
@media screen and (min-width: 768px) {
  .gallary {
    margin-left: -30px;
    flex-wrap: wrap;

    &__item {
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px;

      &:hover,
      &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      &:nth-child(-n + 6) {
        margin-bottom: 30px;
      }
    }
  }
}
*/

.picture {
  position: relative;
  overflow: hidden;
}

.about-element {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .gallary__item:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-comment {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 17px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.images-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.kind {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
