.main-btn {
  /*
  display: block;*/
  font-family: var(--main-font);
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  align-items: center;
  color: var(--first-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--main-btn-color);
    cursor: pointer;
  }

  &_form {
    padding: 10px 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &_modal-window {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 30px;
    padding: 10px 55px;
  }

  &__footer {
    align-items: center;
  }
}
