.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;

  &__title {
    margin-bottom: 12px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: var(--accent-color);
      outline: none;
      cursor: pointer;
    }
  }

  &__label {
    text-align: start;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
  }
  &__container {
    position: relative;
    display: block;
  }

  &__icon {
    position: absolute;
    justify-content: start;
    left: 12px;
    top: 15px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:hover + & {
      fill: var(--accent-color);
    }
  }
  &__textarea {
    width: 100%;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: var(--accent-color);
      cursor: pointer;
    }

    &::placeholder {
      border-color: rgba(117, 117, 117, 0.5);
    }
  }
  &__check {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;

    &::before {
      display: block;
      content: '';
      height: 16px;
      width: 16px;
      border: 2px solid var(--main-text-color);
      border-radius: 2px;
      margin-right: 7px;

      .modal-form__checkbox-concent:checked + & {
        background-color: var(--accent-color);
        background-image: url('../images/icon-check.svg');
        background-position: center;
        border-color: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-form {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .modal-form__check {
    font-size: 12px;
    line-height: 1.14px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__check {
    font-size: 14px;
    line-height: 1.71px;
  }
}
