.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1599px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .title {
    margin-bottom: 50px;
  }
}
