.container {
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }

  .header .container {
    display: flex;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
  }
}
