:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --first-text-color: #ffffff;
  --second-text-color: #757575;
  --team-buttons-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --hero-color: #2f303a;
  --main-btn-color: #188ce8;
  --section-pt: 94px;
  --section-pb: 94px;
  --net-color: #afb1b8;
}
